.App .side-menu, .App-header, .settings {
    text-align: center;
  }
  
.App-header h2{
  background-color: #222;
  height: 40px;
  color: white;
  margin: 0;
}

.columns > div {
  float: left;
  height: 100vh;
}

.columns > .side-menu {
  width: 3%;
  background-color: #888686;
}

.columns > .file-tree, .columns > .settings {
  width: 15%;
  background-color: #4e4d4d;
}

.columns > .editor {
  width: 41%;
  background-color: #3e3d3d;
}

.columns > .preview {
  width: 41%;
}
  